{% extends 'base.html' %} {% block head %}
<title>3D Printing Troubleshooting App</title>
<div class="mainText">
    <h1>3D Printing Troubleshooting App</h1>
    {% endblock %} {% block body %}

    <form method=post enctype=multipart/form-data>
        <input class="my-button" type=file name=file>
        <input class="my-button" type=submit value=Upload>
    </form>
    <p>
        {{message}}
    </p>
</div>
<div class="sidenav">
    <a href="/">Home Page</a>
    <a href="/troubleshootFailed">Troubleshoot: Failed Print</a>
    <a href="/troubleshootQuality">Troubleshoot: Poor Quality</a>
</div>

{% endblock %}