{% extends 'base.html' %} {% block head %}
<title>3D Printing Troubleshooting App</title>
<div class="mainText">
    <h1>3D Printing Troubleshooting App</h1>
    <p>Welcome to our VandyHacks Summer Edition Project! Upload a picture below, and our machine learning algorithm will detect spagetti. For other issues your printer may be having, click the links in the sidebar. </p>
    {% endblock %} {% block body %}

    <form method=post enctype=multipart/form-data>
        <input class="my-button" type=file name=file>
        <input class="my-button" type=submit value=Upload>
    </form>

</div>

<div class="sidenav">
    <a href="/">Home Page</a>
    <a href="/troubleshootFailed">Troubleshoot: Failed Print</a>
    <a href="/troubleshootQuality">Troubleshoot: Poor Quality</a>
</div>


{% endblock %}